/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');*/

@import 'components/variables.css';

body, * {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

body {
  background: $cWhite;
  color: $cDark;
}

h1 {
  font-weight: normal;
  margin: 0;
}

/* button styles */
button {
  padding: .5rem 2rem;
  background: $cLight;
  border: 1px solid $cDark;
  border-radius: 2px;
  color: $cDark;
  font-weight: bold;
  opacity: 0.7;
  font-size: 12px;
  line-height: 16px;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  + button {
    margin-left: .5rem;
  }
}

/* table styles */
table {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      padding: 1rem ;
      font-weight: normal;
      border-top: 1px solid $cDark;
      border-bottom: 1px solid $cDark;
      text-align: left;

      &:first-child {
        border-left: 1px solid $cDark;
      }
      &:last-child {
        border-right: 1px solid $cDark;
      }
    }
  }

  tbody {
    tr:first-child td {
      padding-top: calc(1rem + 1px);
    }
    td {
      padding: 1rem calc(1rem + 1px);
    }
  }
}

header {
  margin-bottom: 3rem;
}

.app-container {
  max-width: 892px;
  margin: auto;

  padding-top: 4rem;
}


/* helpers */

.text-right {
  text-align: right;
}
