<table class="conversions">
  <thead>
    <tr>
      <th>Name</th>
      <th width="150">Created At</th>
      <th width="90">Type</th>
      <th width="115">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in $ctrl.conversionsList">
      <td ng-bind="item.name"></td>
      <td>{{item.createdAt | date:'EEE, MMM d, h:mma'}}</td>
      <td>
        <tag content="item.type | uppercase">
      </td>
      <td>
        <status-tag status="item.status" />
      </td>
    </tr>
  </tbody>
</table>
