@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');

@import './components/variables.css';

body, * {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

body {
  background: $cWhite;
  color: $cDark;
}
